* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /* font-weight:bolder */
}

/*----------------------- Top Navigation Elements ------------------------*/
#nav {
    margin: 0px auto;
    padding: 10px 100px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    justify-content: space-around;
}

.nav-title {
    padding: 0px 10px;
}

.nav-link {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
}

button {
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-family: inherit;
    font-size: large;
    color: white;
    background-color: rgb(23, 162, 184);
}

a.active{
    font-weight: bold;
}

/*----------------------- Main Content Body Container -------------------*/

#main-content {
    display: flex;
    justify-content: space-evenly;
}

.left-main {
    flex:2
}

.right-main {
    flex: 1;
}

/*----- Left Content Elements -----*/

.user-card, .edu-card{
    margin: 50px 25px 50px 100px;
}

.user-head {
    height: 100px;
    padding: 0 20px;
    background-color: rgb(29, 148, 172);
}

.profile-icon {
    height: 100px;
    position: relative;
    top: 50px;
    margin:auto;
    border: 4px solid white;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(182, 181, 181);
}

.user-body {
    border: 4px solid lightgray;
    border-top: none;
    padding: 60px 20px 20px 40px;
}

.small-icon {
    height: 20px;
}

.location, .edit-profile {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.edu-body {
    border: 4px solid lightgray;
    border-top: none;
}

.edu-body h2, .gray-text {
    padding: 20px 35px 10px 35px;
}

.edu-body p{
    padding: 0px 35px 10px 35px;
}
.gray-text {
    color: gray;
    
}

/*----- Right Content Elements -----*/

.requests-card, .connections-card{
    margin: 50px 100px 50px 0px;
}

.requests-head, .edu-head, .connections-head{
    padding: 10px 20px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;    
}

.requests-body, .connections-body, .connections-foot {
    border: 4px solid lightgray;
    border-top: none;
}

.user-icon {
    height: 50px;
    border-radius: 50%;
}

.request-line {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-line, .user-info, .connections-foot{
    padding: 10px;
    display: flex;
}

h3 {
    padding: 10px;
}

.accept, .close {
    height: 40px;
}

a{
    color: rgb(43, 120, 228);
    padding-left: 10px;
}

.counter-1, .counter-2 {
    color: black; 
    background-color: rgb(204, 204, 204);
}

.counter-1 {
    padding: 2px 8px;
    border-radius: 50%;
}

.counter-2 {    
    border-radius: 50%;
    padding: 5px 8px;
}

.head-title {
    padding: 0 20px;
}

ul {
    display: flex;
}